/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */
#zone-subcontent .region-nosotros, #zone-subanerone .region-one-subanner, #zone-subanertwo, #zone-subanertwo .region-two-subanner, #zone-experience .region-experience, .region-customers, #zone-articles .region-articles, #zone-social .region-social, .not-front #zone-content, .not-front #zone-content .region-content {
  margin: 0;
  width: 100%;
}

.node-article .field-name-body h1, .node-article .field-name-body h2, .node-article .field-name-body h3, .node-article .field-name-body h4 {
  color: #4c4c4c;
  font-family: 'cocogoose';
  font-size: 20px;
  margin: 12px 0;
}

@font-face {
  font-family: 'cocogoose';
  src: url("../font/cocogoose_trial.eot");
  src: url("../font/cocogoose_trial.eot") format("embedded-opentype"), url("../font/cocogoose_trial.woff") format("woff"), url("../font/cocogoose_trial.ttf") format("truetype"), url("../font/cocogoose_trial.svg") format("svg");
}

body {
  font-family: arial;
  padding-top: 115px;
}

h2.block-title {
  background: #00415d url(../images/img_categorias_movil.png) no-repeat 98% -172px;
  font-family: 'cocogoose';
  color: #fff;
  display: inline-block;
  font-size: 1.2em;
  margin-bottom: 20px;
  padding: 10px 0;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
}

#section-header {
  background: url(../images/body_bg.png);
}

#zone-branding-wrapper {
  background: #fff;
  border-top: 8px solid #ff7a01;
  box-shadow: 1px 1px 10px #a0a0a0;
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.region-branding-inner {
  margin-bottom: 6px;
  text-align: center;
}

.region-menu .view-menu {
  display: none;
}

.region-menu .block-title {
  background: #88be42 url(../images/img_menu_movil.png) no-repeat 98% center;
  border-bottom: 4px solid #5CA300;
  margin-bottom: 3px;
}

.region-menu .view-menu .views-row {
  width: 100%;
}
.region-menu .view-menu .views-row a {
  background: #00415d url(../images/img_categorias_movil.png) no-repeat 98% -172px;
  color: #fff;
  display: inline-block;
  font-size: 1.3em;
  margin: 3px 0;
  padding: 11px 2%;
  text-decoration: none;
  width: 96%;
}

.region-menu .view-menu .views-row-2 a {
  background-position: 98% -347px;
}

.region-menu .view-menu .views-row-3 a {
  background-position: 98% 4px;
}

.region-menu .view-menu .views-row-4 a {
  background-position: 96% -688px;
}

.region-menu .view-menu .views-row-5 a {
  background-position: 96% -521px;
}

#zone-header {
  margin: 0;
  width: 100%;
}

#zone-header .region-banner {
  margin: 0;
  width: 100%;
}

.flexslider {
  background: none;
  border: 0;
  box-shadow: none;
  margin-bottom: 0;
}
.flexslider .flex-control-nav {
  bottom: 5px;
  z-index: 100;
}
.flexslider li a {
  background: #fff;
}
.flexslider li a:hover {
  background: #ff7a01;
}
.flexslider li a.flex-active {
  background: #ff7a01;
}

#zone-header img {
  height: auto;
  width: 100%;
}

.flexslider .views-field-body {
  position: absolute;
  top: 30%;
  text-align: center;
  width: 100%;
}

.flexslider .views-field-body .field-content {
  border-bottom: 1px solid #fff;
  border-top: 1px solid #fff;
  color: #fff;
  font-family: 'cocogoose';
  font-size: 0.8em;
  padding: 5px 0;
}

#zone-subcontent {
  background: url(../images/body_bg.png);
  margin-top: 20px;
}

.view-who-we-are {
  padding: 0 2%;
  text-align: center;
}

.view-who-we-are .view-header p {
  font-size: 0.9em;
  line-height: 16px;
  margin-bottom: 20px;
}

.view-who-we-are ul li {
  border-bottom: 3px solid #00415d;
  margin: 0;
  padding: 15px 0;
}
.view-who-we-are ul li.views-row-last {
  border-bottom: none;
}

.view-who-we-are ul li .views-field-title {
  color: #4d4d4d;
  display: inline-block;
  font-family: 'cocogoose';
  font-size: 1.5em;
  margin: 10px 0;
  text-transform: uppercase;
}

.view-who-we-are ul li .views-field-body {
  font-size: 0.9em;
  line-height: 21px;
}

#zone-subanerone {
  background: url(../images/bg_colorbox.png);
}

.region-one-subanner-inner {
  padding: 0 2%;
}
.region-one-subanner-inner .block-title {
  background: none;
  font-size: 1em;
  line-height: 27px;
}

.view-quality-standards {
  display: inline-block;
  text-align: center;
}
.view-quality-standards .views-row {
  display: inline-block;
  margin: 7px 1%;
  text-align: center;
  width: 48%;
}
.view-quality-standards .views-row .field-content {
  color: #fff;
  font-size: 0.8em;
  line-height: 18px;
}

#zone-content-wrapper {
  background: url(../images/sub_bg.png);
}
#zone-content-wrapper .region-services {
  margin: 0;
}
#zone-content-wrapper h2.block-title {
  background-position: 98% -347px;
}

.view-services {
  background: #ff7a01;
  border-radius: 10px;
  box-shadow: inset 0px 0px 14px #252525;
  margin: 0 auto;
  padding: 2px 2%;
  width: 94%;
}

.view-services .ui-accordion-header-icon {
  display: none;
}

.view-services .ui-accordion-header {
  background: url(../images/sub_bg.png);
  border: none;
  box-shadow: 1px 1px 10px #3b3b3b;
  border-radius: 6px;
  margin: 17px 0;
  padding: 2%;
}
.view-services .ui-accordion-header.ui-state-hover, .view-services .ui-accordion-header.ui-accordion-header-active {
  background: #ff7a01;
}
.view-services .ui-accordion-header .group-title {
  color: #ff7a01;
  font-family: 'cocogoose';
  margin-top: 10px;
  text-align: center;
  text-transform: uppercase;
}
.view-services .ui-accordion-header.ui-state-hover#ui-accordion-1-header-1, .view-services .ui-accordion-header.ui-accordion-header-active#ui-accordion-1-header-1 {
  background: #fdc109;
}
.view-services .ui-accordion-header#ui-accordion-1-header-1 .group-title {
  color: #fdc109;
}
.view-services .ui-accordion-header.ui-state-hover#ui-accordion-1-header-2, .view-services .ui-accordion-header.ui-accordion-header-active#ui-accordion-1-header-2 {
  background: #41a2e6;
}
.view-services .ui-accordion-header#ui-accordion-1-header-2 .group-title {
  color: #41a2e6;
}
.view-services .ui-accordion-header.ui-state-hover#ui-accordion-1-header-3, .view-services .ui-accordion-header.ui-accordion-header-active#ui-accordion-1-header-3 {
  background: #f52109;
}
.view-services .ui-accordion-header#ui-accordion-1-header-3 .group-title {
  color: #f52109;
}
.view-services .ui-accordion-header.ui-state-hover#ui-accordion-1-header-4, .view-services .ui-accordion-header.ui-accordion-header-active#ui-accordion-1-header-4 {
  background: #8dac06;
}
.view-services .ui-accordion-header#ui-accordion-1-header-4 .group-title {
  color: #8dac06;
}
.view-services .ui-accordion-header.ui-state-hover .group-title, .view-services .ui-accordion-header.ui-accordion-header-active .group-title {
  color: white !important;
}
.view-services .ui-accordion-header img {
  height: auto;
  width: 100%;
}

.view-services .ui-accordion-content {
  background: none;
  border: none;
  padding: 0 2%;
}
.view-services .ui-accordion-content .views-row {
  display: inline-block;
  float: left;
  margin: 11px 2%;
  text-align: center;
  width: 46%;
}
.view-services .ui-accordion-content img {
  width: 100%;
}

.view-high-quality-products {
  padding: 2%;
  text-align: center;
}
.view-high-quality-products .view-header {
  font-size: 0.9em;
  line-height: 19px;
}
.view-high-quality-products .views-row {
  margin: 10px 0;
}

#zone-services {
  background: url(../images/body_bg.png);
}
#zone-services .region-model-services {
  margin: 0;
}

.region-model-services-inner h2.block-title {
  background-position: 98% 5px;
}

.view-service-model ul {
  padding: 0 2%;
}
.view-service-model ul li {
  display: inline-block;
  margin: 0 0 10px 0;
}

.view-service-model .views-field-title {
  background: #f12409 url(../images/img_model_serv.png) no-repeat 95% -659px;
  color: #fff;
  font-family: 'cocogoose';
  font-size: 1.8em;
  padding: 13px 2%;
  width: 96%;
}

.view-service-model .views-field-body {
  font-size: 0.8em;
  padding: 2%;
}

.view-service-model .views-row-2 .views-field-title {
  background: #f39e1d url(../images/img_model_serv.png) no-repeat right 8px;
}

.view-service-model .views-row-3 .views-field-title {
  background: #01435b url(../images/img_model_serv.png) no-repeat right -404px;
}

.view-service-model .views-row-4 .views-field-title {
  background: #89bc43 url(../images/img_model_serv.png) no-repeat 98% -169px;
}

.banner-two-image img {
  height: auto;
  width: 100%;
}

.content-two-text {
  background: url(../images/link_article.png);
  bottom: 0;
  position: absolute;
  padding: 3px 2%;
  width: 96%;
}

.banner-two-text {
  font-size: 0.9em;
  text-align: center;
  color: #fff;
}

#zone-experience {
  margin-top: 25px;
  margin-bottom: 20px;
}
#zone-experience .region-experience .block-title {
  background-position: 98% -687px;
}

.view-experience .views-row {
  float: left;
}
.view-experience .views-row img {
  height: auto;
  width: 100%;
}

.region-customers-inner .block-title {
  background-position: 98% -687px;
}

.view-customers ul li img {
  height: auto;
  width: 100%;
}

.view-customers ul {
  padding: 2%;
}
.view-customers ul li {
  float: left;
  margin: 8px 1%;
  text-align: center;
  width: 48%;
}
.view-customers ul img {
  height: auto;
  width: 100%;
}

#zone-articles {
  background: #F12308;
}

.region-articles-inner .block-title {
  background: none;
  font-weight: normal;
  color: #fff;
  text-transform: none;
}

.view-Article .views-field-field-image img {
  border-radius: 30px;
}

.view-Article .owl-item {
  text-align: center;
}
.view-Article .owl-item .views-field-title {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.view-Article .owl-item .views-field-title span {
  background: url(../images/link_article.png);
  border-radius: 0px 0px 30px 30px;
  display: inline-block;
  width: 265px;
}
.view-Article .owl-item .views-field-title a {
  color: #fff;
  display: inline-block;
  padding: 15px 2%;
  height: 30px;
  line-height: 21px;
  text-decoration: none;
  width: 96%;
}

.view-Article .owl-buttons {
  width: 100%;
}
.view-Article .owl-buttons div {
  height: 55px;
  text-indent: -9999px;
  width: 55px;
}
.view-Article .owl-buttons div.owl-prev {
  background: url(../images/arrow_slider.png) left top no-repeat;
  opacity: 1;
  padding: 0;
}
.view-Article .owl-buttons div.owl-next {
  background: url(../images/arrow_slider.png) right top no-repeat;
  opacity: 1;
  padding: 0;
}

#zone-social {
  background: url(../images/body_bg.png);
}

.block-block-6 {
  padding: 10px 0;
}
.block-block-6 h2.block-title {
  background: none;
  color: #555;
  font-family: arial;
  font-size: 1.5em;
  font-weight: normal;
  margin-bottom: 5px;
}

.block-block-6 .view-content {
  display: inline-block;
  margin-bottom: 30px;
  width: 100%;
}
.block-block-6 .view-content .views-row {
  display: inline-block;
  text-align: center;
  width: 24%;
}
.block-block-6 .view-content .views-row a {
  background: url(../images/social_movil.png) no-repeat;
  display: inline-block;
  height: 56px;
  text-indent: -9999px;
  width: 50px;
}
.block-block-6 .view-content .social-twitter a {
  background-position: 0 -74px;
  width: 57px;
}
.block-block-6 .view-content .social-facebook a {
  background-position: 0 -152px;
  width: 52px;
}
.block-block-6 .view-content .social-skype a {
  background-position: 0 -229px;
  height: 60px;
  width: 55px;
}

.block-locationmap {
  padding: 2%;
}
.block-locationmap img {
  height: auto;
  width: 100%;
}

.block-webform {
  padding: 0 2%;
}
.block-webform .block-title {
  background: none;
  color: #555;
  font-family: arial;
  font-size: 1.2em;
  font-weight: normal;
  margin-bottom: 5px;
}

.webform-client-form .form-item {
  position: relative;
}
.webform-client-form .form-item label {
  color: #999999;
  font-size: 13px;
  left: 35px;
  position: absolute;
  top: 11px;
}
.webform-client-form .form-item input, .webform-client-form .form-item textarea {
  background: white url(../images/img_form.png) no-repeat 8px 8px;
  height: 34px;
  border: none;
  border-radius: 7px;
  padding: 0 15px 0 34px;
  width: 100%;
}
.webform-client-form .form-item textarea {
  background-position: 8px -213px;
  height: 118px;
  max-height: 118px;
  padding: 10px 15px 10px 34px;
}

.webform-client-form .webform-component-email input {
  background-position: 8px -64px;
}

.webform-client-form #webform-component-webform-subject input {
  background-position: 8px -134px;
}

.webform-client-form .form-actions {
  text-align: center;
}

.webform-client-form .form-submit {
  background: #ff7a01 url(../images/bg_button.png) no-repeat 9px 7px;
  border: none;
  border-radius: 12px;
  color: #fff;
  font-size: 1.5em;
  padding: 7px 23px 7px 40px;
  text-transform: uppercase;
}
.webform-client-form .form-submit:hover {
  background: #4c4c4c url(../images/bg_button.png) no-repeat 9px 7px;
}

#zone-footer-wrapper {
  background: url(../images/bg_footer.png);
  padding: 20px 0;
}

.block-block-5 .info-column-uno {
  color: #b2b2b2;
  text-align: center;
}
.block-block-5 .info-column-uno div {
  display: inline-block;
  background: url(../images/img_footer.png) no-repeat left 0px;
  margin: 10px 0;
  font-size: 0.9em;
  padding-left: 26px;
}
.block-block-5 .info-column-uno div.contact-telephone {
  background-position: left -55px;
}
.block-block-5 .info-column-uno div.contact-email {
  background-position: left -109px;
}
.block-block-5 .info-column-uno div.contact-email a {
  color: #b2b2b2;
}
.block-block-5 .info-column-uno div.contact-city {
  background-position: left -167px;
}

.info-column-dos .info-public div {
  text-align: center;
  margin-top: 10px;
}

.info-newsletter {
  margin-top: 13px;
}

.text-newsletter {
  text-align: center;
}

.text-newsletter span {
  color: #fff;
  font-size: 0.8em;
}

.input-newsletter {
  margin-top: 12px;
  position: relative;
}
.input-newsletter span {
  color: #919191;
  left: 32px;
  position: absolute;
  top: 10px;
}
.input-newsletter input[type="submit"] {
  background: #ff7a01 url(../images/button_newsl.png) no-repeat 4px 7px;
  border: none;
  border-radius: 6px;
  font-size: 14px;
  color: #fff;
  position: absolute;
  padding: 6px 14px 6px 21px;
  right: 3px;
  text-transform: uppercase;
  top: 2px;
}
.input-newsletter input[type="submit"]:hover {
  background: #4c4c4c url(../images/button_newsl.png) no-repeat 4px 7px;
}
.input-newsletter input[type="text"] {
  background: white url(../images/img_form.png) no-repeat 8px -65px;
  border: none;
  border-radius: 7px;
  height: 33px;
  padding: 0 96px 0 34px;
  width: 100%;
}

.info-column-dos .view-menu {
  display: inline-block;
  float: right;
  margin-top: 13px;
}

.info-column-dos .view-menu .views-row {
  float: left;
  margin-right: 3px;
}
.info-column-dos .view-menu .views-row a {
  color: #b2b2b2;
  font-size: 0.6em;
  text-decoration: none;
}
.info-column-dos .view-menu .views-row a:after {
  content: " /";
}

#colorbox {
  background: #fff;
}
#colorbox .service-zone-uno {
  background: #ff7a01;
  color: #fff;
  font-family: 'cocogoose';
  font-size: 23px;
  padding: 14px 4%;
  position: absolute;
  top: 0;
  text-transform: uppercase;
  width: 92%;
}

#cboxContent {
  border-radius: 0;
}

.service-zone-dos {
  display: inline-block;
  margin-top: 70px;
  padding: 2%;
  width: 96%;
}

.service-column-uno img {
  height: auto;
  width: 100%;
}

.service-column-dos .service-empresa {
  background: url(../logo.png) no-repeat;
  display: block;
  height: 64px;
  margin: 10px auto;
  width: 200px;
}
.service-column-dos .title {
  color: #555;
  font-size: 35px;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.service-column-dos .service-body {
  line-height: 20px;
  font-size: 15px;
}
.service-column-dos .service-technical .image- {
  float: left;
  width: 33%;
}
.service-column-dos .service-technical .label {
  color: #555;
  margin-bottom: 13px;
}

#cboxClose.cbox-close-plain {
  background: transparent url(../images/close_colorbox.png) no-repeat 6px 4px;
  box-shadow: none;
  height: 38px;
  right: 16px;
  opacity: 1 !important;
  text-indent: -999px;
  width: 42px;
}

.not-front {
  background: url(../images/body_bg.png);
}
.not-front #section-header {
  background: none;
}
.not-front #zone-content-wrapper {
  background: none;
}
.not-front #zone-articles {
  margin-top: 12px;
}

.node-article .field-name-field-image {
  margin-bottom: 20px;
  position: relative;
}
.node-article .field-name-field-image img {
  height: auto;
  width: 100%;
}
.node-article .field-name-field-image #title-suffix {
  background: url(../images/link_article.png);
  bottom: 0;
  color: #fff;
  font-size: 0.9em;
  padding: 6px 0;
  position: absolute;
  text-align: center;
  width: 100%;
}

.node-article .field-name-body {
  padding: 0 2%;
}
.node-article .field-name-field-tags {
  padding: 0 2%;
  display: inline-block;
  margin: 10px 0;
  width: 96%;
}
.node-article .field-name-field-tags .field-label {
  color: #4c4c4c;
  font-family: 'cocogoose';
  margin-bottom: 5px;
}
.node-article .field-name-field-tags .field-items .field-item {
  float: left;
  margin-right: 4px;
}
.node-article .field-name-field-tags .field-items .field-item:after {
  content: ', ';
}
.node-article .social-share {
  margin-bottom: 10px;
  padding: 0 2%;
  text-align: center;
}
.node-article .social-share .share-label {
  color: #ff7a01;
  font-family: 'cocogoose';
  display: inline-block;
  font-size: 19px;
  margin-bottom: 10px;
  text-align: center;
  width: 100%;
}
.node-article .social-share a {
  background: url(../images/social_movil.png) no-repeat 0 -152px;
  display: inline-block;
  height: 55px;
  margin: 0 10px;
  text-indent: -9999px;
  width: 50px;
}
.node-article .social-share a.social-share-linkedin {
  background-position: 0 0;
}
.node-article .social-share a.social-share-twitter {
  background-position: 0 -73px;
  width: 56px;
}
.node-article .social-share a:hover {
  opacity: 0.5;
}

.node-article .field-name-body p {
  color: #4c4c4c;
  line-height: 19px;
  margin-bottom: 20px;
}
