/* This file will hold styles that are loaded using the same media query as the normal grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the widescreen layout unless they are overridden by the widescreen styles. */
#zone-social, #zone-social .region-social {
  margin: 0;
  width: 100%;
}

.region-model-services-inner, .sub-content-text, .region-nosotros-inner, .region-articles-inner, .region-one-subanner-inner, .region-social-inner, .not-front .node-article .field-name-body, .not-front .node-article .field-name-field-tags, .not-front .node-article .social-share {
  margin: 0 auto;
  width: 940px;
}

body {
  padding-top: 145px;
}

#zone-branding {
  background: url(../images/logo_bg.png) no-repeat left bottom;
}
#zone-branding img {
  margin-top: 31px;
  margin-left: 60px;
}

.region-menu .view-menu .views-row-2 a {
  background-position: 39px -338px;
}
.region-menu .view-menu .views-row-2 a:hover {
  background-position: 39px -338px;
}

.region-menu .view-menu .views-row-3 a {
  background-position: 50px 11px;
}
.region-menu .view-menu .views-row-3 a:hover {
  background-position: 50px 11px;
}

.region-menu .view-menu .views-row-4 a {
  background-position: 35px -678px;
}
.region-menu .view-menu .views-row-4 a:hover {
  background-position: 35px -678px;
}

.region-menu .view-menu .views-row-5 a {
  background-position: 36px -510px;
}
.region-menu .view-menu .views-row-5 a:hover {
  background-position: 36px -510px;
}

.flexslider .views-field-body .field-content {
  font-size: 48px;
}

.region-model-services-inner {
  padding: 30px 0;
}

.view-service-model ul li {
  margin: 25px 0;
}

.view-service-model .views-field-title {
  background-position: 93% -653px;
  border-radius: 23px;
  font-size: 30px;
  margin-right: 20px;
  padding: 18px 24px;
  width: 415px;
}

.view-service-model .views-row-2 .views-field-title {
  background-position: 8% 14px;
}

.view-service-model .views-row-3 .views-field-title {
  background-position: 95% -398px;
}

.view-service-model .views-row-4 .views-field-title {
  background-position: 4% -164px;
}

.view-service-model .views-field-body {
  width: 440px;
}

.view-service-model .views-field-body .field-content {
  font-size: 17px;
  height: 73px;
  line-height: 20px;
}

.view-service-model .views-row-even .views-field-title {
  margin: 0;
  position: absolute;
  right: 0;
  text-align: right;
}

.view-service-model .views-row-even .views-field-body {
  text-align: right;
}

.content-two-text {
  background: none;
  text-align: right;
  top: 40%;
  padding: 0;
  width: 100%;
}

.banner-two-text {
  font-family: 'cocogoose';
  font-size: 25px;
  float: right;
  line-height: 36px;
  text-align: right;
  width: 575px;
}

.region-nosotros-inner {
  padding: 55px 0;
}

.view-who-we-are {
  padding: 0;
}

.view-who-we-are .view-header p {
  line-height: 31px;
  margin-bottom: 25px;
}

.view-who-we-are ul li {
  margin: 0;
  width: 280px;
}

.view-who-we-are ul li .views-field-field-image {
  height: 100px;
}

.view-who-we-are ul li.views-row-2 {
  margin: 0 50px;
}

.view-who-we-are ul li .views-field-title {
  border-bottom: 6px solid #00415d;
  font-size: 27px;
}

.view-who-we-are ul li.views-row-2 .views-field-title {
  border-bottom: 6px solid #88be42;
}

.view-who-we-are ul li.views-row-3 .views-field-title {
  border-bottom: 6px solid #e33f24;
}

.view-who-we-are ul li .views-field-body {
  font-size: 16px;
}

.view-Article .owl-item {
  margin: 0 25px;
  width: 265px !important;
}

.view-Article .owl-item .views-field-title {
  background: url(../images/link_article.png);
  border-radius: 0px 0px 30px 30px;
}
.view-Article .owl-item .views-field-title span {
  background: none;
  border-radius: 0;
  display: initial;
  width: auto;
}
.view-Article .owl-item .views-field-title a {
  font-size: 17px;
  height: 39px;
  padding: 18px 3%;
  width: 94%;
}

.view-Article .owl-buttons {
  position: absolute;
  top: 99px;
}
.view-Article .owl-buttons div {
  position: absolute;
}
.view-Article .owl-buttons div.owl-prev {
  left: -70px;
}
.view-Article .owl-buttons div.owl-prev:hover {
  background-position: 0 -58px;
}
.view-Article .owl-buttons div.owl-next {
  right: -70px;
}
.view-Article .owl-buttons div.owl-next:hover {
  background-position: -60px -58px;
}

.region-one-subanner-inner .block-title {
  font-size: 19px;
}

.view-quality-standards {
  padding: 0 30px;
}
.view-quality-standards .views-row .field-content {
  font-size: 12px;
}

.view-services {
  padding: 2px 15px;
}

.view-services .ui-accordion-header {
  padding: 7px 16px 7px 7px;
}
.view-services .ui-accordion-header .group-image {
  width: auto;
}
.view-services .ui-accordion-header .group-title {
  font-size: 28px;
  font-weight: bold;
  width: 378px;
}
.view-services .ui-accordion-header#ui-accordion-1-header-0 .group-title {
  margin-top: 26px;
}
.view-services .ui-accordion-header#ui-accordion-1-header-1 .group-title {
  margin-top: 26px;
}
.view-services .ui-accordion-header#ui-accordion-1-header-3 .group-title {
  margin-top: 26px;
}
.view-services .ui-accordion-header img {
  width: auto;
}

.view-services .ui-accordion-content {
  padding: 2px 25px 17px 25px;
}
.view-services .ui-accordion-content .views-row {
  margin: 0;
  width: 20%;
}
.view-services .ui-accordion-content .views-row img {
  width: auto;
}

#zone-social .region-social {
  padding: 35px 0;
}

.block-block-6 {
  margin-bottom: 55px;
  padding: 0 30px;
}
.block-block-6 h2.block-title {
  margin: 31px 0 0 0;
  width: auto;
}

.block-block-6 .view-content {
  margin-left: 36px;
  margin-bottom: 0;
  width: 630px;
}
.block-block-6 .view-content .views-row {
  margin: 0 1%;
  width: 22%;
}
.block-block-6 .view-content .views-row a {
  background: url(../images/sociales.png) no-repeat;
  height: 82px;
  width: 99px;
}
.block-block-6 .view-content .views-row a:hover {
  opacity: 0.7;
}
.block-block-6 .view-content .social-twitter a {
  background-position: 0 -124px;
  width: 90px;
}
.block-block-6 .view-content .social-facebook a {
  background-position: 0 -252px;
  width: 82px;
}
.block-block-6 .view-content .social-skype a {
  background-position: 0 -389px;
  width: 82px;
}

.block-locationmap {
  float: left;
  margin-right: 2%;
  padding: 0;
  width: 48%;
}

.block-webform {
  margin-top: 38px;
}
.block-webform .block-title {
  font-size: 23px;
}

.webform-client-form .form-actions {
  text-align: left;
}

.webform-client-form .form-submit {
  font-size: 24px;
}

#zone-footer-wrapper {
  padding: 25px 0;
}

.block-block-5 .info-column-uno div {
  font-size: 16px;
  margin: 12px 0;
}

.block-block-5 .info-column-dos {
  width: 63%;
}

.info-column-dos .info-public div {
  text-align: right;
  width: 59%;
}

.info-column-dos .info-public div ~ div {
  width: 41%;
}

.text-newsletter {
  text-align: left;
}

.text-newsletter span {
  font-size: 14px;
}

.info-newsletter {
  margin-top: 20px;
}

.info-column-dos .view-menu .views-row a {
  font-size: 13px;
}

.service-zone-dos {
  padding: 0;
  width: 100%;
}

.service-column-uno {
  margin: 0 10px 0 20px;
  width: auto;
}

.service-column-dos {
  display: inline-block;
  margin-right: 20px;
  width: 370px;
}
.service-column-dos .service-empresa {
  margin: 0;
}
.service-column-dos .service-body {
  margin-bottom: 8px;
}

.not-front .node-article .field-name-body {
  padding: 0;
}
.not-front .node-article .field-name-field-tags {
  display: inherit;
  height: 45px;
  padding: 0;
}
.not-front .node-article .social-share {
  padding: 0;
}

.node-article .field-name-field-image #title-suffix {
  font-size: 30px;
  padding: 13px 0;
}
