/* This file will hold styles that are loaded using the same media query as the narrow grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the normal and widescreen layouts. You may override these styles in the normal 
 *  and widescreen CSS files as appropriate. */
#zone-subcontent, #zone-subcontent .region-nosotros, #zone-subanerone, #zone-services, #zone-services .region-model-services, #zone-experience, #zone-articles, #zone-social {
  margin: 0;
  width: 100%;
}

body {
  background: url(../images/body_bg.png);
}

h2.block-title {
  background: transparent url(../images/img_categorias.png) no-repeat left -175px;
  color: #4C4C4C;
  font-size: 33px;
  padding: 4px 0 4px 45px;
  width: auto;
}

#zone-branding-wrapper {
  background: url(../images/bg_heder.png) repeat-x;
  border-top: 8px solid #ff7a01;
  box-shadow: none;
  margin-bottom: 25px;
}

#zone-branding {
  padding-bottom: 35px;
}
#zone-branding img {
  margin-top: 12px;
}

.region-branding-inner {
  margin: 0;
  text-align: left;
}

.region-menu .view-menu {
  display: block !important;
}

.region-menu .block-title {
  display: none;
}

.region-menu .view-menu {
  background: url(../images/line_menu.png) no-repeat right center;
  display: inline-block;
  width: 100%;
}

.region-menu .view-menu .views-row {
  background: url(../images/line_menu.png) no-repeat left center;
  float: left;
  text-align: center;
  width: 20%;
}
.region-menu .view-menu .views-row a {
  background: url(../images/img_categorias.png) no-repeat center -163px;
  color: #4C4C4C;
  font-size: 14px;
  margin: 0;
  padding: 57px 12% 18px 12%;
  width: 76%;
}
.region-menu .view-menu .views-row a:hover {
  background: #4c4c4c url(../images/img_categorias_hover.png) no-repeat center -163px;
  color: #fff;
}

.region-menu .view-menu .views-row-2 a {
  background-position: center -338px;
  padding: 50px 12% 12px 12%;
}
.region-menu .view-menu .views-row-2 a:hover {
  background-position: center -338px;
}

.region-menu .view-menu .views-row-3 a {
  background-position: center 11px;
  padding: 50px 12% 12px 12%;
}
.region-menu .view-menu .views-row-3 a:hover {
  background-position: center 11px;
}

.region-menu .view-menu .views-row-4 a {
  background-position: center -678px;
  padding: 50px 12% 12px 12%;
}
.region-menu .view-menu .views-row-4 a:hover {
  background-position: center -678px;
}

.region-menu .view-menu .views-row-5 a {
  background-position: center -510px;
}
.region-menu .view-menu .views-row-5 a:hover {
  background-position: center -510px;
}

.flexslider .views-field-body .field-content {
  font-size: 25px;
  font-weight: bold;
  margin: 0 auto;
  padding: 10px 0;
  width: 490px;
}

.flexslider .flex-control-nav {
  bottom: 20px;
  z-index: 100;
}
.flexslider .flex-control-nav li {
  margin: 0 20px;
}
.flexslider .flex-control-nav a {
  height: 20px;
  width: 20px;
}

#zone-subcontent {
  margin-top: 0;
}

.region-nosotros-inner {
  padding: 35px 0;
  text-align: center;
}

.view-who-we-are .view-header p {
  font-size: 18px;
  line-height: 24px;
}

.view-who-we-are ul li {
  border-bottom: none;
  float: left;
  padding: 0;
  margin: 0 1%;
  width: 31%;
}

.view-who-we-are ul li .views-field-title {
  border-bottom: 4px solid #00415d;
  font-size: 25px;
  font-weight: bold;
  padding-bottom: 7px;
  width: 100%;
}

.view-who-we-are ul li.views-row-2 .views-field-title {
  border-bottom: 4px solid #88be42;
}

.view-who-we-are ul li.views-row-3 .views-field-title {
  border-bottom: 4px solid #e33f24;
}

#zone-subanerone {
  background: url(../images/banner_one.png) left top;
}
#zone-subanerone .region-one-subanner {
  box-shadow: 0 5px 20px #696969;
}

.region-one-subanner-inner {
  padding: 22px 0;
}
.region-one-subanner-inner .block-title {
  color: #fff;
  font-family: arial;
  font-size: 1em;
  font-weight: normal;
  line-height: 21px;
  padding: 0;
  text-transform: none;
  width: 100%;
}

.view-quality-standards .views-row {
  margin: 0 1%;
  width: 22%;
}
.view-quality-standards .views-row .field-content {
  font-size: 0.7em;
}

#zone-content-wrapper {
  padding: 35px 0;
}
#zone-content-wrapper .region-services {
  margin: 0 10px;
  text-align: center;
}
#zone-content-wrapper h2.block-title {
  background-position: left -350px;
}

.view-services {
  border-radius: 16px;
  width: auto;
}

.view-services .ui-accordion-header {
  border-radius: 16px;
}
.view-services .ui-accordion-header .group-image {
  float: left;
  width: 50%;
}
.view-services .ui-accordion-header .group-title {
  float: right;
  font-size: 1.2em;
  margin-top: 5px;
  text-align: right;
  width: 41%;
}
.view-services .ui-accordion-header#ui-accordion-1-header-0 .group-title {
  margin-top: 17px;
}
.view-services .ui-accordion-header#ui-accordion-1-header-1 .group-title {
  margin-top: 17px;
}
.view-services .ui-accordion-header#ui-accordion-1-header-3 .group-title {
  margin-top: 17px;
}
.view-services .ui-accordion-header img {
  border-radius: 20px;
}

.view-services .ui-accordion-content .views-row {
  margin: 0 1%;
  width: 18%;
}
.view-services .ui-accordion-content .views-row a {
  display: inline-block;
}
.view-services .ui-accordion-content .views-row img {
  border-radius: 15px;
}
.view-services .ui-accordion-content .views-row .views-field-title {
  color: #fff;
}

.view-high-quality-products {
  margin-top: 20px;
  padding: 0;
}
.view-high-quality-products .view-content {
  margin: 0 auto;
  width: 450px;
}
.view-high-quality-products .views-row {
  display: inline-block;
  float: left;
  margin: 0 15px;
}
.view-high-quality-products .view-header {
  font-size: 17px;
  line-height: 23px;
  margin: 30px auto;
  text-align: center;
  width: 550px;
}

#zone-services {
  background: url(../images/body_bg.png);
}
#zone-services .region-model-services {
  box-shadow: 0 3px 21px #292929;
}

.region-model-services-inner {
  padding: 30px 2%;
  text-align: center;
}
.region-model-services-inner h2.block-title {
  background-position: left 2px;
}

.view-service-model {
  text-align: left;
}

.view-service-model ul {
  padding: 0;
}
.view-service-model ul li {
  display: inline-block;
  margin: 10px 0;
  position: relative;
  width: 100%;
}

.view-service-model .views-field-title {
  box-shadow: inset 1px 1px 6px #707070;
  border-radius: 17px;
  color: #fff;
  float: left;
  font-size: 1.8em;
  margin-right: 2%;
  padding: 15px 2%;
  width: 44%;
}

.view-service-model .views-field-body {
  float: left;
  vertical-align: middle;
  padding: 0;
  width: 50%;
}

.view-service-model .views-field-body .field-content {
  display: table-cell;
  font-size: 1em;
  height: 63px;
  line-height: 17px;
  vertical-align: middle;
  width: 100%;
}

.content-two-text {
  padding: 10px 2%;
}

.banner-two-text {
  font-size: 1.5em;
}

#zone-experience {
  margin-top: 0;
  margin-bottom: 0;
}
#zone-experience .region-experience {
  background: #fff;
  padding: 35px 0 0 0;
  text-align: center;
}
#zone-experience .region-experience .block-title {
  background-position: -7px -691px;
  margin-bottom: 30px;
}

.region-customers-inner {
  margin: 50px 0;
  text-align: center;
}
.region-customers-inner .block-title {
  background-position: -7px -691px;
  margin-bottom: 35px;
}

.view-customers ul {
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 100%;
}
.view-customers ul li {
  margin: 0 1%;
  width: 18%;
}

.region-articles-inner {
  padding: 27px 0;
  text-align: center;
}

#zone-social .region-social {
  padding: 2%;
  width: 96%;
}

.block-block-6 {
  margin-bottom: 25px;
  padding: 0 2%;
}
.block-block-6 h2.block-title {
  background: none;
  font-size: 27px;
  float: left;
  margin: 16px 0 0 0;
  padding: 0;
  text-transform: none;
  text-align: left;
  width: 33%;
}

.block-block-6 .view-content {
  margin-bottom: 0;
  width: 67%;
}

.block-locationmap {
  float: left;
  margin-right: 2%;
  padding: 0;
  width: 48%;
}

.block-webform {
  float: right;
  margin-top: 2px;
  padding: 0;
  width: 50%;
}
.block-webform .block-title {
  font-size: 1.4em;
  padding: 0;
  text-align: left;
  text-transform: none;
}

#section-footer {
  background: #fff;
}

#zone-footer-wrapper {
  background: url(../images/bg_footer.png);
  padding: 13px 0;
}

.block-block-5 .info-column-uno {
  float: left;
  text-align: left;
  width: 37%;
}
.block-block-5 .info-column-uno div {
  font-size: 0.8em;
  margin: 10px 0;
  width: 100%;
}

.block-block-5 .info-column-dos {
  float: right;
  width: 60%;
}

.info-column-dos .info-public div {
  display: inline-block;
  float: left;
  margin-top: 20px;
  text-align: center;
  width: 50%;
}

.info-column-dos .info-public div ~ div {
  margin-top: 0;
}

.text-newsletter {
  text-align: right;
}

.info-newsletter {
  display: inline-block;
  margin-top: 5px;
  width: 100%;
}

.info-column-dos .view-menu {
  margin-top: 27px;
}

.service-column-uno {
  float: left;
  width: 50%;
}

.service-column-dos {
  float: right;
  width: 48%;
}

.node-article .field-name-field-image #title-suffix {
  font-family: 'cocogoose';
  font-size: 25px;
}
.node-article .social-share {
  text-align: left;
}
.node-article .social-share .share-label {
  margin-bottom: 0px;
  float: left;
  margin-top: 18px;
  text-align: left;
  width: auto;
}
.node-article .social-share a {
  margin: 0 15px;
}
.node-article .field-name-field-tags .field-label {
  display: inline-block;
  font-family: arial;
  float: left;
}
