/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */
@import "_base.scss";

//SASS
$color_orange : #ff7a01;
$background_body: url(../images/body_bg.png);
$sub_background: url(../images/sub_bg.png);

%Width_100{
	margin:0;
	width: 100%;
}
%Title_article{
	color:#4c4c4c;
  font-family: 'cocogoose';
	font-size: 20px;
	margin: 12px 0;
}
// Generales
@font-face {
  font-family: 'cocogoose';
  src: url('../font/cocogoose_trial.eot');
  src: url('../font/cocogoose_trial.eot') format('embedded-opentype'),
       url('../font/cocogoose_trial.woff') format('woff'),
       url('../font/cocogoose_trial.ttf') format('truetype'),
       url('../font/cocogoose_trial.svg') format('svg');
}
body{
	font-family: arial;
	padding-top: 115px;
}
h2.block-title{
	background: #00415d url(../images/img_categorias_movil.png) no-repeat 98% -172px;
	font-family: 'cocogoose';
	color: #fff;
	display: inline-block;	
	font-size: 1.2em;
	margin-bottom: 20px;
	padding: 10px 0;
	text-transform: uppercase;
	text-align: center;
	width: 100%;
}
//Heder
#section-header{
	background:$background_body;
}
#zone-branding-wrapper{
	background:#fff;
	border-top: 8px solid $color_orange;
	box-shadow: 1px 1px 10px rgb(160, 160, 160);
	top: 0;
	position: fixed;
	width: 100%;
	z-index: 1000;
}
.region-branding-inner{
	margin-bottom: 6px;
	text-align: center;
}
.region-menu .view-menu {
	display: none;
}
.region-menu .block-title{
	background:#88be42 url(../images/img_menu_movil.png) no-repeat 98% center;
	border-bottom: 4px solid #5CA300;
	margin-bottom: 3px;
}
.region-menu .view-menu .views-row{
	width: 100%;
	a{
		background: #00415d url(../images/img_categorias_movil.png) no-repeat 98% -172px;
		color: #fff;
		display: inline-block;
		font-size: 1.3em;
		margin: 3px 0;
		padding: 11px 2%;
		text-decoration: none;
		width: 96%;
	}
}
.region-menu .view-menu .views-row-2 a{
	background-position: 98% -347px;
}
.region-menu .view-menu .views-row-3 a{
	background-position: 98% 4px;}
.region-menu .view-menu .views-row-4 a{
	background-position: 96% -688px;
}
.region-menu .view-menu .views-row-5 a{
	background-position: 96% -521px;
}
// Banner
#zone-header{
	margin: 0;
	width: 100%;
}
#zone-header .region-banner{
	margin: 0;
	width: 100%;
}
.flexslider{
	background: none;
	border: 0;
	box-shadow: none;
	margin-bottom: 0;
	.flex-control-nav{
		bottom: 5px;
		z-index: 100;
	}
	li a{
		background: #fff;
		&:hover{
			background: $color_orange;
		}
		&.flex-active{
			background:$color_orange;
		}
	}
}
#zone-header img{
	height: auto;
	width: 100%;
}
.flexslider .views-field-body{
	position: absolute;
	top: 30%;
	text-align: center;
	width: 100%;
}
.flexslider .views-field-body .field-content{
	border-bottom: 1px solid #fff;
	border-top: 1px solid #fff;
	color: #fff;
	font:{
		family: 'cocogoose';
		size: 0.8em;
	}	
	padding: 5px 0;
}
//Nosotros
#zone-subcontent{
	background: $background_body;
	margin-top: 20px;
	.region-nosotros{
		@extend %Width_100;
	}
}
.view-who-we-are{
	padding: 0 2%;
	text-align: center;
}
.view-who-we-are .view-header p{
	font:{
		size: 0.9em;
	} 
	line-height: 16px;
	margin-bottom: 20px;
}
.view-who-we-are ul li {
	border-bottom: 3px solid #00415d;
	margin: 0;
	padding: 15px 0;
	&.views-row-last{
		border-bottom: none;
	}
}
.view-who-we-are ul li .views-field-title{
	color:#4d4d4d;
	display: inline-block;
	font:{
		family: 'cocogoose';
		size: 1.5em;
	}
	margin: 10px 0;
	text-transform: uppercase;
}
.view-who-we-are ul li .views-field-body{
	font:{
		size: 0.9em;
	}
	line-height: 21px;
}
// First banner
#zone-subanerone{
	background: url(../images/bg_colorbox.png);
	.region-one-subanner{
		@extend %Width_100;	
	}
}
.region-one-subanner-inner{
	padding: 0 2%;
	.block-title{
		background: none;
		font-size: 1em;
		line-height: 27px;
	}
}
.view-quality-standards {
	display: inline-block;
	text-align: center;
	.views-row{
		display: inline-block;
		margin: 7px 1%;
		text-align: center;
		width: 48%;
		.field-content{
			color: #fff;
			font-size: 0.8em;
			line-height: 18px;
		}
	}
}
// Services
#zone-content-wrapper{
	background:$sub_background;
	.region-services{
		margin: 0;
	}
	h2.block-title{
		background-position: 98% -347px;
	}
}
.view-services {
	background: #ff7a01;
	border-radius: 10px;
	box-shadow: inset 0px 0px 14px rgb(37, 37, 37);
	margin: 0 auto;
	padding: 2px 2%;
	width: 94%;
} 
.view-services .ui-accordion-header-icon{
	display: none;
}
.view-services .ui-accordion-header{
	background:$sub_background;
	border: none;
	box-shadow: 1px 1px 10px rgb(59, 59, 59);
	border-radius: 6px;
	margin: 17px 0;
	padding: 2%;
	&.ui-state-hover,
	&.ui-accordion-header-active	{
		background:#ff7a01;
	}	
	.group-title{
		color: $color_orange;
 	 	font-family: 'cocogoose';
 	 	margin-top: 10px;
 	 	text-align: center;
		text-transform: uppercase;
	}
	&.ui-state-hover#ui-accordion-1-header-1,
	&.ui-accordion-header-active#ui-accordion-1-header-1{
		background: #fdc109;
	}
	&#ui-accordion-1-header-1 .group-title{
		color: #fdc109;
	}
	&.ui-state-hover#ui-accordion-1-header-2,
	&.ui-accordion-header-active#ui-accordion-1-header-2{
		background: #41a2e6;
	}
	&#ui-accordion-1-header-2 .group-title{
		color: #41a2e6;
	}
	&.ui-state-hover#ui-accordion-1-header-3,
	&.ui-accordion-header-active#ui-accordion-1-header-3{
		background: #f52109;
	}
	&#ui-accordion-1-header-3 .group-title{
		color: #f52109;
	}
	&.ui-state-hover#ui-accordion-1-header-4,
	&.ui-accordion-header-active#ui-accordion-1-header-4{
		background: #8dac06;
	}	
	&#ui-accordion-1-header-4 .group-title{
		color: #8dac06;
	}
	&.ui-state-hover .group-title,
	&.ui-accordion-header-active .group-title{
		color: #fff!important;
	}
	img{
		height: auto;
		width: 100%;
	}
}
.view-services .ui-accordion-content{
	background: none;
	border: none;
	padding: 0 2%;
	.views-row{
		display: inline-block;
		float: left;
		margin: 11px 2%;
		text-align: center;
		width: 46%;
	}
	img{
		width: 100%;
	}
}
.view-high-quality-products {
	padding: 2%;
	text-align: center;
	.view-header{
		font-size: 0.9em;
		line-height: 19px;
	}
	.views-row {
		margin: 10px 0;
	}
}
// Model service model

#zone-services {
	background: $background_body;
	.region-model-services{
		margin: 0;
  }
}
.region-model-services-inner h2.block-title{
	background-position: 98% 5px;
}
.view-service-model ul {
	padding: 0 2%;
	li{
		display: inline-block;
		margin: 0 0 10px 0;
	}
}
.view-service-model .views-field-title {
	background: #f12409 url(../images/img_model_serv.png) no-repeat 95% -659px;
	color : #fff;
	font:{
		family: 'cocogoose';
		size: 1.8em;
	} 
	padding: 13px 2%;
	width: 96%;
}
.view-service-model .views-field-body {
	font-size: 0.8em;
	padding: 2%;
}
.view-service-model .views-row-2 .views-field-title{
	background: #f39e1d url(../images/img_model_serv.png) no-repeat right 8px;
}
.view-service-model .views-row-3 .views-field-title{
	background: #01435b url(../images/img_model_serv.png) no-repeat right -404px;
}
.view-service-model .views-row-4 .views-field-title{
	background: #89bc43 url(../images/img_model_serv.png) no-repeat 98% -169px;
}
// Secont Banner
#zone-subanertwo{
	@extend %Width_100;
}
#zone-subanertwo .region-two-subanner{
	@extend %Width_100;
}
.banner-two-image img{
	height: auto;
	width: 100%;
}
.content-two-text{
	background: url(../images/link_article.png);
	bottom: 0;
	position: absolute;
	padding: 3px 2%;
	width: 96%;	
}
.banner-two-text{
	font-size: 0.9em;
	text-align: center;
	color: #fff;
}
//Experience
#zone-experience{
	margin-top: 25px;
	margin-bottom: 20px;
	.region-experience{
		@extend %Width_100;
		.block-title{
			background-position: 98% -687px;
		}
	}
}
.view-experience .views-row {
	float: left;
 	img{
		height: auto;
		width: 100%;
	}
}
// Customers
.region-customers{
	@extend %Width_100;
}
.region-customers-inner .block-title{
	background-position:  98% -687px;
}
.view-customers ul li img{
	height: auto;
	width: 100%;
}
.view-customers ul{
	padding: 2%;
	li{
		float: left;
		margin: 8px 1%;
		text-align: center;
		width: 48%;
	}
	img{
		height: auto;
		width: 100%;
	}
}	
//Articles
#zone-articles{
	background: #F12308;
	.region-articles{
		@extend %Width_100;
	}
}
.region-articles-inner .block-title{
	background: none;
	font:{
		weight: normal;
	}
	color: #fff;
	text-transform: none;
}
.view-Article .views-field-field-image img{
	border-radius: 30px;
}
.view-Article .owl-item{
	text-align: center;
	.views-field-title{
		position: absolute;
		bottom: 0;
		width: 100%;
		span{
			background:url(../images/link_article.png);
			border-radius: 0px 0px 30px 30px;
			display: inline-block;
			width: 265px;
		}
		a{
			color: #fff;
			display: inline-block;
			padding: 15px 2%;
			height: 30px;
			line-height: 21px;
			text-decoration: none;
			width: 96%;
		}
	}
}
.view-Article	.owl-buttons{
	width: 100%;
	div{
		height: 55px;
		text-indent: -9999px;
		width: 55px;	
	}
	div.owl-prev{
		background:url(../images/arrow_slider.png) left top no-repeat;
		opacity: 1;
		padding: 0;
	}
	div.owl-next{
		background:url(../images/arrow_slider.png) right top no-repeat;
		opacity: 1;
		padding: 0;
	}
}
//Social
#zone-social{
	background: $background_body;
	.region-social{
		@extend %Width_100;
	}
}
.block-block-6 {
	padding: 10px 0;
	h2.block-title{
		background: none;
		color: #555;
		font:{
			family: arial;
			size: 1.5em;
			weight: normal;
		}
		margin-bottom: 5px;
	}
}
.block-block-6 .view-content{
	display: inline-block;
	margin-bottom: 30px;
	width: 100%;
	.views-row{
		display: inline-block;
		text-align: center;
		width: 24%;
		a{
			background: url(../images/social_movil.png) no-repeat;
			display: inline-block;
			height: 56px;
			text-indent: -9999px;
			width: 50px;
		}	
	}
	.social-twitter a{
		background-position: 0 -74px;
		width: 57px;
	}
	.social-facebook a{
		background-position: 0 -152px;
		width: 52px;
	}
	.social-skype a{
		background-position: 0 -229px;
		height: 60px;	
		width: 55px;
	}
}
.block-locationmap{
	padding: 2%;
	img{
		height: auto;
		width: 100%;
	}
}
.block-webform {
	padding: 0 2%;
	.block-title{
		background:none;
		color: #555;
		font:{
			family: arial;
			size: 1.2em;
			weight: normal;
		}
		margin-bottom: 5px;
	}
}
.webform-client-form .form-item {
	position: relative;
	label{
		color: rgb(153, 153, 153);
		font-size: 13px;
		left: 35px;
		position: absolute;
		top: 11px;
	}
	input,textarea{
		background: #fff url(../images/img_form.png) no-repeat 8px 8px;
		height: 34px;	
		border: none;
		border-radius: 7px;
		padding: 0 15px 0 34px;
		width: 100%;
	}
	textarea{
		background-position: 8px -213px;
		height: 118px;
		max-height: 118px;
		padding: 10px 15px 10px 34px;
	}
}
.webform-client-form .webform-component-email input{
	background-position: 8px -64px;
}
.webform-client-form #webform-component-webform-subject input{
	background-position: 8px -134px;
}
.webform-client-form .form-actions{
	text-align: center;
}
.webform-client-form .form-submit{
	background: $color_orange url(../images/bg_button.png) no-repeat 9px 7px;
	border: none;
	border-radius: 12px;
	color: #fff;
	font-size: 1.5em;
	padding: 7px 23px 7px 40px;
	text-transform: uppercase;
	&:hover{
		background: #4C4C4C url(../images/bg_button.png) no-repeat 9px 7px;
	}
}
//Footer
#zone-footer-wrapper{
	background: url(../images/bg_footer.png);
	padding: 20px 0;
}
.block-block-5 .info-column-uno{
	color: #b2b2b2;
	text-align: center;
	div{
		display: inline-block;
		background: url(../images/img_footer.png) no-repeat left 0px;
		margin: 10px 0;
		font-size: 0.9em;
		padding-left: 26px;
		&.contact-telephone{
			background-position: left -55px;
		}
		&.contact-email{
			background-position: left -109px;
			a{
				color: #b2b2b2;
			}
		}
		&.contact-city{
			background-position: left -167px;
		}
	}
}
.info-column-dos .info-public div{
	text-align: center;
	margin-top: 10px;
}
.info-newsletter{
	margin-top: 13px;
}
.text-newsletter{
	text-align: center;
}
.text-newsletter span{
	color: #fff;
	font-size: 0.8em;
}
.input-newsletter{
	margin-top: 12px;
	position: relative;
	span{
		color: rgb(145, 145, 145);
		left: 32px;
		position: absolute;		
		top: 10px;
	}
	input[type="submit"]{
		background: $color_orange url(../images/button_newsl.png) no-repeat 4px 7px;
		border: none;
		border-radius: 6px;
		font-size: 14px;
		color: #fff;
		position: absolute;
		padding: 6px 14px 6px 21px;
		right: 3px;
		text-transform: uppercase;
		top: 2px; 
		&:hover{
			background: #4c4c4c url(../images/button_newsl.png) no-repeat 4px 7px;
		}
	}
	input[type="text"]{
		background: white url(../images/img_form.png) no-repeat 8px -65px;	
		border: none;
		border-radius: 7px;
		height: 33px;
		padding: 0 96px 0 34px;
		width: 100%;
	}
}
.info-column-dos .view-menu{
	display: inline-block;
	float: right;
	margin-top: 13px;
}
.info-column-dos .view-menu .views-row {
	float: left;
	margin-right: 3px;
	a{
		color: #b2b2b2;
		font-size: 0.6em;
		text-decoration:none;
		&:after{
			content:" /";
		}
	}
}
//Colorbox
#colorbox{
	background: #fff;
	.service-zone-uno{
		background: $color_orange;
		color: #fff;
		font-family:'cocogoose';
		font-size: 23px;
		padding: 14px 4%;
		position: absolute;
		top: 0;
		text-transform: uppercase;
		width: 92%;
	}
}
#cboxContent{
	border-radius: 0;
}
.service-zone-dos{
	display: inline-block;
	margin-top: 70px;
	padding: 2%;
	width: 96%;
}
.service-column-uno img{
	height: auto;
	width: 100%;
}
.service-column-dos{
	.service-empresa{
		background: url(../logo.png) no-repeat;
		display: block;
		height: 64px;
		margin: 10px auto;
		width: 200px;
	}
	.title{
		color: #555;
		font-size: 35px;
		margin-bottom: 10px;
		text-transform: uppercase;
	}
	.service-body{
		line-height: 20px;
		font-size: 15px;
	}
	.service-technical .image-{
		float: left;
		width: 33%;
	}
	.service-technical .label {
		color: #555;
		margin-bottom: 13px;
	}
}
#cboxClose.cbox-close-plain{
	background: transparent url(../images/close_colorbox.png) no-repeat 6px 4px;
	box-shadow: none;
	height: 38px;
	right: 16px;
	opacity: 1 !important;
	text-indent: -999px;
	width: 42px;
}
//Interna
.not-front{
	background: $background_body;
	#section-header{
		background: none;
	}
	#zone-content-wrapper{
		background:none;
	}
	#zone-content{
		@extend	%Width_100;	
		.region-content{
			@extend	%Width_100;	
		}
	}
	#zone-articles{
		margin-top: 12px;
	}
}
.node-article .field-name-field-image {
	margin-bottom: 20px;
	position: relative;
	img{
		height: auto;
		width: 100%;
	}
	#title-suffix{
		background: url(../images/link_article.png);
		bottom: 0;
		color: #fff;
		font-size: 0.9em;
		padding: 6px 0;
		position: absolute;
		text-align: center;
		width: 100%;
	}
}
.node-article	{
	.field-name-body {
		padding: 0 2%;
		h1{
			@extend %Title_article;
		}
		h2{
			@extend %Title_article;
		}
		h3{
			@extend %Title_article;
		}
		h4{
			@extend %Title_article;
		}
	}	
	.field-name-field-tags{
		padding: 0 2%;
		display: inline-block;
		margin: 10px 0; 
		width: 96%;
		.field-label{
			color: #4c4c4c;
			font-family: 'cocogoose';
			margin-bottom: 5px;
		}
		.field-items .field-item {
			float: left;
			margin-right: 4px;
			&:after{
				content:', ';
			}	
		}
	}
	.social-share {
		margin-bottom: 10px;
		padding: 0 2%;
		text-align:center;
		.share-label{
			color: $color_orange;
			font-family: 'cocogoose';
			display: inline-block;
			font-size: 19px;
			margin-bottom: 10px;
			text-align: center;
			width: 100%;
		}
		a{
			background: url(../images/social_movil.png) no-repeat 0 -152px;
			display: inline-block;
			height: 55px;
			margin: 0 10px;
			text-indent: -9999px;
			width: 50px;
			&.social-share-linkedin{
				background-position: 0 0;
			}
			&.social-share-twitter{
				background-position: 0 -73px;
				width: 56px;
			}
			&:hover{
				opacity: 0.5;
			}
		}
	}
}
.node-article	.field-name-body p{
	color:#4c4c4c;
	line-height: 19px;
	margin-bottom: 20px;
}








