/* This file will hold styles that are loaded using the same media query as the narrow grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the normal and widescreen layouts. You may override these styles in the normal 
 *  and widescreen CSS files as appropriate. */
@import "_base.scss";

//SASS
$color_orange : #ff7a01;
$background_body: url(../images/body_bg.png);
$sub_background: url(../images/sub_bg.png);

%Width_100{
	margin:0;
	width: 100%;
}
// Generales
body{
	background: $background_body;
}
h2.block-title{
	background: transparent url(../images/img_categorias.png) no-repeat left -175px;
	color: #4C4C4C;	
	font-size: 33px;
	padding: 4px 0 4px 45px;
	width: auto;
}
//Heder 
#zone-branding-wrapper{
	background: url(../images/bg_heder.png) repeat-x;
	border-top: 8px solid $color_orange;
	box-shadow: none;
	margin-bottom: 25px;
}
#zone-branding{
	padding-bottom: 35px;
	img{
		margin-top: 12px;	
	}
}
.region-branding-inner{
	margin: 0;
	text-align: left;
}
.region-menu .view-menu {
	display: block!important;
}
.region-menu .block-title{
	display: none;
}
.region-menu .view-menu {
	background: url(../images/line_menu.png) no-repeat right center;
	display: inline-block;
	width: 100%;
}
.region-menu .view-menu .views-row{
	background: url(../images/line_menu.png) no-repeat left center;
	float: left;
	text-align: center;
	width: 20%;
	a{
		background:url(../images/img_categorias.png) no-repeat center -163px;
		color: #4C4C4C;			
		font-size: 14px;
		margin: 0;
		padding: 57px 12% 18px 12%;
		width: 76%;
		&:hover{
			background: #4C4C4C url(../images/img_categorias_hover.png) no-repeat center -163px;
			color: #fff;
		}
	}
}
.region-menu .view-menu .views-row-2 a{
	background-position: center -338px;
	padding: 50px 12% 12px 12%;
	&:hover{
		background-position:center -338px;
	}
}
.region-menu .view-menu .views-row-3 a{
	background-position: center 11px;
	padding: 50px 12% 12px 12%;
	&:hover{
		background-position: center 11px;
	}
}
.region-menu .view-menu .views-row-4 a{
	background-position: center -678px;
	padding: 50px 12% 12px 12%;
	&:hover{
		background-position: center -678px;
	}
}
.region-menu .view-menu .views-row-5 a{
	background-position: center -510px;
	&:hover{
		background-position: center -510px;
	}
}
// Banner
.flexslider .views-field-body .field-content{
	font:{
		size: 25px;
		weight: bold;
	}	
	margin: 0 auto;
	padding:10px 0;
	width: 490px;
}
.flexslider .flex-control-nav{
	bottom: 20px;
	z-index: 100;
	li{
		margin: 0 20px;
	}
	a{
		height: 20px;
		width: 20px;
	}
}
// Nosotros
#zone-subcontent{
	@extend %Width_100;
	margin-top: 0;
	.region-nosotros{
		@extend %Width_100;
	}
}
.region-nosotros-inner{
	padding: 35px 0;
	text-align: center;
}
.view-who-we-are .view-header p{
	font-size: 18px;
	line-height: 24px;
}
.view-who-we-are ul li{
	border-bottom: none;
	float: left;
	padding: 0;
	margin: 0 1%;
	width: 31%;
}
.view-who-we-are ul li .views-field-title{
	border-bottom: 4px solid #00415d;
	font:{
		size: 25px;
		weight: bold;
	}
	padding-bottom: 7px;
  width: 100%;
}
.view-who-we-are ul li.views-row-2 .views-field-title{
	border-bottom: 4px solid #88be42;
}
.view-who-we-are ul li.views-row-3 .views-field-title{
	border-bottom: 4px solid #e33f24;
}
// First banner
#zone-subanerone{
	@extend %Width_100;	
	background: url(../images/banner_one.png) left top;
	.region-one-subanner{
		box-shadow: 0 5px 20px #696969;
	}
}
.region-one-subanner-inner{
	padding: 22px 0;
	.block-title{
		color: #fff;
		font:{
			family: arial;
			size: 1em;
			weight: normal;
		} 
		line-height:21px;
		padding: 0;
		text-transform: none;
		width: 100%;
	}
}
.view-quality-standards .views-row {
	margin: 0 1%;
	width: 22%;
	.field-content{
		font-size: 0.7em;
	}
}
// Services
#zone-content-wrapper{
	padding: 35px 0;
	.region-services{
		margin: 0 10px;
		text-align: center
	}
	h2.block-title{
		background-position: left -350px;
	}
}
.view-services {
	border-radius: 16px;
	width: auto;
} 
.view-services .ui-accordion-header{
	border-radius: 16px;
	.group-image{
		float: left;
		width: 50%;
	}
	.group-title{
		float: right;
		font-size: 1.2em;
		margin-top: 5px;
		text-align: right;
		width: 41%;
	}	
	&#ui-accordion-1-header-0 .group-title{
		margin-top: 17px;
	}
	&#ui-accordion-1-header-1 .group-title{
		margin-top: 17px;
	}
	&#ui-accordion-1-header-3 .group-title{
		margin-top: 17px;
	}
	img{
		border-radius: 20px;
	}
}
.view-services .ui-accordion-content .views-row{
	margin: 0 1%;
	width: 18%;
	a{
		display: inline-block;
	}
	img{
		border-radius: 15px;
	}
	.views-field-title{
		color: #fff;
	}
}
.view-high-quality-products {
	margin-top: 20px;
	padding: 0;
	.view-content{
		margin: 0 auto;
		width: 450px;
	}
	.views-row {
 		display: inline-block;
 		float: left;
 		margin: 0 15px;
	}
	.view-header{
		font-size: 17px;
		line-height: 23px;
		margin: 30px auto;
		text-align: center;
		width: 550px;
	}
}
// Model service model
#zone-services{
	@extend %Width_100;
	background: $background_body;
	.region-model-services{
	@extend %Width_100;
	box-shadow: 0 3px 21px rgb(41, 41, 41);
	}	
}
.region-model-services-inner{
	padding: 30px 2%;
	text-align: center;
	h2.block-title{
		background-position: left 2px;
	}
}
.view-service-model{
	text-align: left;
}
.view-service-model ul{
	padding: 0;
 li{
		display: inline-block;
		margin: 10px 0;
		position: relative;
		width: 100%;
	}
}
.view-service-model .views-field-title {
	box-shadow: inset 1px 1px 6px rgb(112, 112, 112);
	border-radius: 17px;
	color : #fff;
	float: left;
	font-size: 1.8em;
	margin-right: 2%;
	padding: 15px 2%;
	width: 44%;
}
.view-service-model .views-field-body{
	float: left;
	vertical-align: middle;
	padding: 0;
	width: 50%;
}
.view-service-model .views-field-body .field-content{
	display: table-cell;
	font-size: 1em;
	height: 63px;
	line-height: 17px;
	vertical-align: middle;
	width: 100%;
}
// Secont Banner
.content-two-text{
	padding: 10px 2%;
}
.banner-two-text{
	font-size: 1.5em;	
}
// Experience
#zone-experience{
	@extend %Width_100;
	margin-top: 0;
	margin-bottom: 0;
	.region-experience{
		background: #fff;
		padding: 35px 0 0 0;
		text-align: center;
		.block-title{
			background-position: -7px -691px;
			margin-bottom: 30px;
		}
	}
}
// Customers
.region-customers-inner{
	margin: 50px 0;
	text-align: center;
	.block-title{
		background-position: -7px -691px;
		margin-bottom: 35px;
	}
}
.view-customers ul {
	display: inline-block;
	margin: 0;
	padding: 0;
	width: 100%;
	li{
	margin: 0 1%;
	width: 18%;
	}
}
//Articles
#zone-articles{
	@extend %Width_100;
}
.region-articles-inner{
	padding: 27px 0;
	text-align: center;
}
//Social
#zone-social{
	@extend %Width_100;
	.region-social{
		padding: 2%;
		width: 96%;
	}
}
.block-block-6 {
	margin-bottom: 25px;
	padding: 0 2%;
	h2.block-title{
		background: none;
		font:{
			size: 27px;
		}
		float: left;
		margin: 16px 0 0 0;
		padding: 0;
		text-transform: none;
		text-align: left;
		width: 33%;
	}
}
.block-block-6 .view-content{
	margin-bottom: 0;
	width: 67%;
}
.block-locationmap{
	float: left;
	margin-right: 2%;
	padding: 0;
	width: 48%;
}
.block-webform {
	float: right;
	margin-top: 2px;
	padding: 0;
	width: 50%;
	.block-title{
		font:{
			size: 1.4em;
		}
		padding: 0;
		text-align: left;
		text-transform: none;
	}
}
//Footer
#section-footer{
	background:#fff;
}
#zone-footer-wrapper{
	background: url(../images/bg_footer.png);
	padding: 13px 0;
}
.block-block-5 .info-column-uno{
	float: left;
	text-align: left;
	width: 37%;
	div{
		font-size: 0.8em;
		margin: 10px 0;
		width: 100%;
	}
}
.block-block-5 .info-column-dos{
	float: right;
	width: 60%;
}
.info-column-dos .info-public div{
	display: inline-block; 
	float: left;
	margin-top: 20px;
	text-align: center;
	width: 50%;
}
.info-column-dos .info-public div ~ div{
	margin-top: 0;
}
.text-newsletter{
	text-align: right;
}
.info-newsletter{
	display: inline-block;
	margin-top: 5px;
	width: 100%;
}
.info-column-dos .view-menu{
	margin-top: 27px;
}
//Colorbox
.service-column-uno{
	float: left;
	width: 50%;
}
.service-column-dos{
	float: right;
	width: 48%;
}
//Interna
.node-article {
	.field-name-field-image #title-suffix{
		font:{
			family: 'cocogoose';
			size: 25px;
		} 
	}
	.social-share {
		text-align: left;
		.share-label{
			margin-bottom: 0px;
			float:left;
			margin-top: 18px;
			text-align: left;
			width: auto;
		}
		a{
			margin: 0 15px;
		}	
	}
	.field-name-field-tags .field-label{
		display: inline-block;
		font-family: arial;
		float: left;
	}
}
















